body {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.theme-dropdown {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 20px;
}

.theme-showcase .navbar {
  width: auto;
}