body {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.theme-dropdown {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 20px;
}

.theme-showcase .navbar .container {
  width: auto;
}